{% set ii = 0 %}
{% for reply in replys %}

<div id="del_zan_{{ ii }}" style="font-size: 14px;">


    <p>{{ username }}</p>

    <p style="font-size: 16px; font-weight: bold">{{ cnt }}</p>

    <p>编辑于{{ str(date).split('.')[0] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;共
        <span id="text_zan_{{ ii }}">{{ vote }}</span>
        个人赞同 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a class="pure-button button-secondary" style="padding:3px 8px; margin-right: 5px"
           onclick="zan('{{ uid }}',{{ ii }});">
            赞
        </a>


        {% if userinfo is not None and userinfo.privilege[4] == '1' %}

        <a class="pure-button button-secondary" style="padding:3px 8px;"
           onclick="del('{{ uid }}',{{ ii }});">
            删除
        </a>
        {% end %}
    </p>

    <p style="border-bottom: 1px dashed #dddddd; margin-bottom: 20px">&nbsp;</p>

</div>
{% set ii = ii + 1 %}
{% end %}


