{% extends "../../theme/bage.html" %}

{% block head %}
<title>{{ view.title }}</title>
<meta name="description" content="{% module generate_description(view.cnt_html) %}">
<meta name="keywords" content="{{ view.keywords }}">

<script>

    // /reply/add_one/

    function zan(reply_id, id_num) {

        id_num = id_num.toString();

        zans = $('#text_zan').val();

        var AjaxUrl = "/reply/zan/" + reply_id;
        //$.get(AjaxUrl, function (data) {
        //   $(".result").html(data);
        //alert("");
        //});

        $.getJSON(AjaxUrl, function (Json) {
            if (Json.text_zan == 0) {
            }
            else {
                $("#text_zan_" + id_num).html(Json.text_zan);
            }

        });
    }

    function del(reply_id, id_num) {

        id_num = id_num.toString();


        var AjaxUrl = "/reply/delete_reply/" + reply_id;


        $.getJSON(AjaxUrl, function (Json) {

            $("#del_zan_" + id_num).html('');


        });

    }


    function pl(view_id) {
        $.ajax({
            type: "POST",
            url: "/post/comment_add/" + view_id,
            data: "cnt_md=" + $("#cnt_md").val(),

            // dataType: "json",
            success:  function (msg)
            {
                // alert(msg);
                var msg_json = $.parseJSON(msg);
                // alert(msg_json.pinglun);


                $("#pinglun").load('/reply/get/' + msg_json.pinglun);

            }


        })


    }
</script>

{% end %}

{% block zhuti %}

<div class="panel-heading">

    <h1 class="title">{{ view.title }}</h1>

    <p class="info">
        {{ str(view.date).split('.')[0] }}
        <span class="split">|</span>
        发布者: <a href="http://yunsuan.org">云算笔记</a>
        <span class="split">|</span>
        查看:
        <em id="_viewnum">{{ view.view_count }}</em>

        {% if userinfo is not None and userinfo.privilege[2] == '1' %}
        <span class="split">|</span>
        <a href="/post/modify/{{ view.uid }}">修改</a>
        {% end %}

        <!--{% if userinfo is not None and userinfo.privilege[4] == '1' %}-->
        <!--<a href="/post/edit_catalog/{{ view.uid }}">修改分类</a>-->
        <!--{% end %}-->
    </p>

    <p><span class="equation_catalog">{% module post_catalogs(view.uid ) %}</span></p>
    <br>

</div>

<div class="panel-body">


    <div id="wiki_cnt">
        {% raw unescape(view.cnt_html) %}
    </div>

    <Br>

    <div class="sxan" style="float: left">{% module previous_post_link(view.uid) %}</div>
    <div class="sxan" style="float: right">{% module next_post_link(view.uid) %}</div>

    <Br>

    <p style="border-bottom: 1px dashed #dddddd; margin-bottom: 20px">&nbsp;</p>


    <form method="post" class="pure-form pure-form-aligned" id="pl_form">
        <!-- <form method="post" action="/post/comment_add/{{ view.uid }}" class="pure-form pure-form-aligned">-->


        <div class="pure-control-group">
            我来评论
        </div>
        <div class="pure-control-group">

            <textarea cols="80" rows="5" name="cnt_md" id="cnt_md"></textarea>
        </div>
        <div class="pure-control-group">

            <a id="tj" onclick="pl('{{ view.uid }}');" class="pure-button pure-button-primary">提交</a>
        </div>

    </form>

    <Br> <Br>
    往期评论

    <p style="border-bottom: 1px dashed #dddddd; margin-bottom: 20px">&nbsp;</p>

    <div >

        <div id="pinglun"></div>

        {% set ii = 0 %}
        {% for reply in replys %}

        <div id="del_zan_{{ ii }}">

            <ul id="wiki_cnt">
                <li>{{ reply.user_name }}</li>

                <li style="font-size: 16px; font-weight: bold">{% raw unescape(reply.cnt_html) %}</li>
                <li>编辑于{{ str(reply.date).split('.')[0] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;共
                    <span id="text_zan_{{ ii }}">{{ reply.vote }}</span>
                    个人赞同 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <a class="pure-button button-secondary" style="padding:3px 8px; margin-right: 5px"
                       onclick="zan('{{ reply.uid }}', {{ ii }} );">
                        赞
                    </a>


                    {% if userinfo is not None and userinfo.privilege[4] == '1' %}


                    <a class="pure-button button-secondary" style="padding:3px 8px;"
                       onclick="del('{{ reply.uid }}', {{ ii }} );">
                        删除
                    </a>
                    {% end %}

                </li>
            </ul>
            <p style="border-bottom: 1px dashed #dddddd; margin-bottom: 20px">&nbsp;</p>

        </div>
        {% set ii = ii + 1 %}
        {% end %}
    </div>

</div>
{% end %}

